--extra-index-url https://download.pytorch.org/whl/cu125
torch==2.8.0
transformers==4.56.2
accelerate==1.10.1
kernels==0.10.2
python-multipart==0.0.20
bitsandbytes==0.48.1
fastapi==0.118.0
uvicorn==0.37.0

